<!DOCTYPE html>
<html>
    <head lang="es">
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>{% block title %}{% endblock %} - Symfofilms</title>

            <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/estilo.css') }}">
            <link rel="shortcut icon" href="{{ asset('images/template/logo.png') }}" type="image/png">
        {% endblock %}
    </head>
    
    <body class="container p-3">
        {% block header %}
            <header class="row border bg-light">
                <hgroup class="col-8 align-self-center">
                    <h1>SymfoFilms</h1>
                    <h2>Página de cine, ejemplo de clase.</h2>
                    <p>{{frase.getQuote()}}</p>
                </hgroup>
                <figure class="col-4 text-end">
                    <a href="/">
                        <img class="h-auto" alt="Logo" src=" {{ asset('images/template/logo.png') }}">
                    </a>
                </figure>
            </header>
        {% endblock %}
        {% block nav %}
            <div class="container row">
                <nav class="col-9">
                    <ul class="nav nav-pills">
                        <li class="nav-item mr-2"> 
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item mr-2 drop-toggle"> 
                            <a class="nav-link" href="/peliculas">Películas</a>

                            <ul class="nav drop-menu d-flex flex-column">
                                <li class="nav-item">
                                    <a class="nav-link"  href=" {{path('pelicula_list')}}">Lista de películas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"  href=" {{path('pelicula_create')}}">Nueva película</a>
                                </li>
                            </ul>
                            
                        </li>

                        <li class="nav-item mr-2 drop-toggle"> 
                            <a class="nav-link" href="/actores">Actores</a>
                             <ul class="nav drop-menu d-flex flex-column">
                                <li class="nav-item">
                                    <a class="nav-link"  href=" {{path('actor_list')}}">Lista de actores</a>
                                </li>
                                <li class="nav-item mr-2"> 
                                    <a class="nav-link" href=" {{path('actor_create')}}">Nuevo actor</a>
                                </li>
                            </ul>
                        </li>
                         <li class="nav-item mr-2"> 
                            <a class="nav-link" href="{{path('contacto')}}">Contacto</a>
                        </li>

                    </ul>
                </nav>
                <div class="col-3 pt-2 text-end">
                    {{ "now"|date('d/m/Y H:i', timezone="Europe/Madrid") }}
                </div>
            </div>
        {% endblock %}
        <main class="my-3">
        {% block main %}
            {% block success %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endblock %}
        {% endblock %}
        </main>

        {% block footer %}
            <footer class="page-footer font-small bg-light border row">
                <p class="m-1"> Aplicación creada por <b>Robert Sallent</b> como ejemplo de clase.
                Desarrollada haciendo uso de <b>Symfony</b> y <b>Bootstrap</b>.</p>
            </footer>
        {% endblock %}
    </body>
</html>